html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: antiquewhite;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    height: 110px;
    width: 129px;;
}

h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.5;
}
.contenedor{
    border-radius: 65px;
    height: 44rem;
    width: 114rem;
    background-color: burlywood;
    margin: 137px 211px;
    border: black solid;
}


.boton{
    font-size: 19px;
    display: block;
    margin-left: 234px;
}

button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
    border-radius: 11px;
    height: 42px;
    background-color: floralwhite;
    width: 120px;

    }
    .monedas{
        text-align: center;
        line-height: 3.5;
        font-size: 2rem;
    }
    button, input {
        overflow: visible;
        border-radius: 12px;
        height: 5rem;
        width: 47rem;
    }

    .formulario__campo {
        width: 24rem;
        height: 4rem;
        border-radius: 1rem;
    }