:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 2.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    margin-top: -11px;
    text-align: justify;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    margin-top: 13px;
}
img#imagen.Pelicula__imagen {
    width: 100%;
    margin-top: 10rem;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    
}
h1 {
    font-size: 4rem;
    margin-right: center;
    
}
h1#titulopelicula {
    margin: 0 auto;
    margin-top: 8rem;
}
h2 {
    font-size: 3.2rem;
    margin-right: 29rem;
    
}
h2#precio {
    
    margin-right: 60rem;
    
}

h3 {
    font-size: 2.4rem;
}
/** slider **/

.container{
margin: auto;
background-color: white;
width: 842px;
padding: 30px;
height: 500px
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 300px;

}
ul.slider li{
    position: absolute;
    left: 0;
    top: 2;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}
ul.slider li img{
    width: 47%;
    height: 480px;
    object-fit: cover;
    margin-top: -22px;
    margin-left: 192px;
}
    
    


ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 2px;
    width: 48px;
    height: 47px;
    font-size: 19px;
    border-radius: 100%;
}

/** Footer **/
.footer {
    background-color: var(--primarioOscuro);
    margin-top: 11rem;
    height: 12rem;

}
.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    padding: 32px;
}
/** Navegacion **/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.navegacion img{
    margin-top: auto;
    width: 154px;
    height: 124px;
    border-radius: 40%;
    border: 2px solid #fff;
    margin-left: -52rem
    
    
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 5rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/** Productos **/

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.pelicula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}


/** Bloques **/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}
/** Formulario Registro**/
.formulario {
    background-color: grey;
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    max-width: 800px;
    margin: 0 auto;

}
.formulario legend {
    text-align: center;
    font-size: 2.2rem;
    color: var(--blanco);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.contenedor-campos {
justify-content: center;
flex-wrap: wrap;
width: 58rem;
margin-left: 7rem;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    
}


.contenedor-campos label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
    flex: 0 0 90px;
}
label {
    margin-right: 7rem;
}

.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}


.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}



/** Formulario compra**/
.formulario2 {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo {
   border: 1rem solid var(--primarioOscuro);
   background-color: transparent;
   color: var(--blanco);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;
}
.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

.pelucula__contenido{
    margin-top: 0%;
}